<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue dans l'application de gestion - SIF{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
        {#{{ encore_entry_link_tags('app')  }} #} 
        
           
        {% endblock %}


        {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }} #} 
          
        {% endblock %}
    </head>



    <body class="bg-dark text-white">
        {% block header %}
        {# Header avec le lien du fichier#}
        {% include 'layouts/connected/_navbarConnected.html.twig' %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {# Footer avec le lien du fichier#}    
        {% include 'layouts/connected/_footer.html.twig' %}
        {% endblock %}

    </body>
</html>
