<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue dans l'application de gestion - SIF{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {#{{ encore_entry_link_tags('app')  }} #} 
        {% endblock %}

        {% block javascripts %}
        <script src="https://unpkg.com/signature_pad"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            var alertSuccess = document.querySelector('.alert-success');
            if (alertSuccess) {
                alertSuccess.remove();
            }
        }, 1000); // Adjust the time (in milliseconds) as needed

        var canvas = document.getElementById('signature-canvas');
        var signaturePad = new SignaturePad(canvas);

        var clearButton = document.getElementById('clear-signature');
        var submitButton = document.getElementById('submit-signature');
        var signatureDataInput = document.getElementById('signature_data');
        var signatureForm = document.getElementById('signature-form');

        signatureForm.addEventListener('submit', function (event) {
            event.preventDefault();
            saveSignature(signatureDataInput);
            this.submit();
            window.location.reload();
        });

        clearButton.addEventListener('click', function () {
            signaturePad.clear();
        });

        function saveSignature(input) {
            if (!signaturePad.isEmpty()) {
                input.value = signaturePad.toDataURL("image/png");
            } else {
                alert('Please add your signature');
            }
        }
    });
</script>


           
            
        {% endblock %}
    </head>



    <body class="bg-dark text-white">
        {% block header %}
        {# Header avec le lien du fichier#}
        {% include 'layouts/connected/_navbarConnected.html.twig' %}
        {% endblock %}

        {% block body %}

        
        {% endblock %}
{# 
        {% block footer %}
         Footer avec le lien du fichier
        {% include 'layouts/connected/_footer.html.twig' %}
        {% endblock %} 
#}

    </body>
</html>
