{% extends "layouts/disconnected/base.html.twig" %}

{% block title %}
	 Inscription - SIF
{% endblock %}

{% block body %}
	<div class="container  mx-auto">
		<h1 class="mt-4">Formulaire d'inscription</h1>
			{{ form(form) }}
		</div>
	{% endblock %}
