
{% block stylesheet%} 
<style type="text/css">
    * {
        font-family: Verdana, Arial, sans-serif;
        padding: 0;
        margin:0;
    }
    body {
            background-color: #f4f4f4;
            text-align: center;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h1, h2 {
            color: #333;
        }

        p {
            color: #555;
            margin: 10px 0;
        }
</style> 
{%endblock%}

{% block body %}
  <div class="container">
        <h1>Confirmation de Prêt de Matériel Informatique</h1>
        <p>Merci d'avoir choisi notre service de prêt de matériel informatique.</p>
        <p>Assurez-vous de respecter les dates de retour prévues. En cas de problème, n'hésitez pas à nous contacter : it@secours-islamique.org.</p>
        <br>
        <br>
        <p>Merci pour votre confiance. Nous espérons que le matériel vous sera utile!</p>
        <br>
        <p>L'équipe IT du service informatique</p>
    </div>
{% endblock %}

