{% extends "layouts/connected/baseConnected.html.twig" %}
{% block title %} Ajout d'un collaborateur - SIF {% endblock %}


{% block body %}
	<div class="container  mx-auto">
		<h1 class="mt-4">Formulaire d'ajout d'un collaborateur</h1>
			{{ form(form) }}
		</div>
	{% endblock %}

